<html>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/PerryPal21/perry.css@master/perry.css"
  />
  <body>
    <style>
      .msg {
        background-color: #2b3a4c;
        padding: 20px;
      }
    </style>
    <div class="container">
      <h1>Techy</h1>
      <p>Generate cool tech-savvy sounding phrases easily</p>
      <br />
      <h4>The Message:</h4>
      <div class="msg">
        <h5 style="text-align: center"><%=phraseText%></h5>
      </div>
      <br />
      <hr />
      <br />
      <h4>How to use:</h4>
      <p>
        Techy provides easily accessible ways to use this API for whatever you
        would like.
      </p>
      <br />
      <p>Output in Plaintext -> <a href="<%=url%>/text"><code><%=url%>/text</code></a></p>
      <pre><%=phraseText%></pre>
      <br />
      <p>Output in JSON -> <a href="<%=url%>/json"><code><%=url%>/text</code></a></p>
      <pre>{"message": "<%=phraseText%>"}</pre>
      <br />
      <a href="https://perrypal.xyz">Made By Perry</a>
      <a href="https://github.com/PerryPal21/Techy-API">Source Code</a>
    </div>
  </body>
</html>
